<footer class="page__footer">
  <div class="footer">
    <nav class="footer__nav--1">
      <a class="footer__nav--1__link" href="https://www.create-store.com/es/">Link1</a>
      <a class="footer__nav--1__link" href="https://www.create-store.com/es/">Link2</a>
      <a class="footer__nav--1__link" href="https://www.create-store.com/es/">Link3</a>
      <a class="footer__nav--1__link" href="https://www.create-store.com/es/">Link4</a>
    </nav>
    <nav class="footer__nav--2">
      <a class="footer__nav--2__link" href="https://www.create-store.com/es/">FB</a>
      <a class="footer__nav--2__link" href="https://www.create-store.com/es/">TW</a>
      <a class="footer__nav--2__link" href="https://www.create-store.com/es/">G+</a>
    </nav>
  </div>

</footer>