<header class="page__header">

  <div class="container">
    <div class="box">
      <img class="box__img" src="./assets/images/logo.png" width="30" height="30">
      <h1 class="box__title">LayoutDeEjemplo</h1>
    </div>
    <nav class="menu">
      <ul class="menu__ul">
        <li class="menu__ul__li"><a class="menu__ul__li__link" href="https://www.create-store.com/es/">Link1</a></li>
        <li class="menu__ul__li"><a class="menu__ul__li__link" href="https://www.create-store.com/es/">Link2</a></li>
        <li class="menu__ul__li"><a class="menu__ul__li__link" href="https://www.create-store.com/es/">Link3</a></li>
        <li class="menu__ul__li"><a class="menu__ul__li__link" href="https://www.create-store.com/es/">Link4</a></li>
      </ul>
    </nav>
  </div>
</header>