<main class="page__main">
  <section class="main__box">
    <section class="section">
      <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
      <p class="section__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptatibus tempora
        iure labore, ipsa
        repudiandae, sit temporibus ut quos quis provident, molestias illo id corporis debitis minus sint commodi
        nostrum.
      </p>
    </section>
    <hr>
    <section class="section">
      <h2 class="section__title">Lorem ipsum dolor sit amet</h2>

      <p class="section__p--2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptatibus tempora
        iure
        labore, ipsa
        repudiandae, sit temporibus ut quos quis provident, molestias illo id corporis debitis minus sint commodi
        nostrum.
      </p>
    </section>
    <hr>
    <section class="section">
      <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
      <p class="section__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptatibus tempora
        iure labore, ipsa
        repudiandae, sit temporibus ut quos quis provident, molestias illo id corporis debitis minus sint commodi
        nostrum.
      </p>
    </section>
  </section>
  <aside class="aside">
    <div class="aside__container"></div>
    <div class="aside__container"></div>
  </aside>


</main>