.page__main {
  font-size: 1.5rem;
  background-color: rgb(230, 224, 224);
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media all and (min-width: 500px) {
    font-size: 2.1rem;
  }
  .main__box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .section {
      padding: 3rem 2rem;
      justify-content: center;
      align-items: center;

      &__title {
        padding: 1rem 0rem;
      }

      &__p--2 {
        margin-left: 5rem;
        padding-left: 3rem;
        border-left: 4px solid grey;
      }
    }
  }
}
.aside {
  display: none;
  @media all and (min-width: 500px) {
    height: 70vh;
    width: 16vw;
    max-width: 20%;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
      width: 80%;
      max-width: 80%;
      height: 30%;
      border-radius: 2rem;
      background-color: yellow;
      margin: 2rem 0rem;
    }
  }
}
